name: $(Date:yyyyMMdd).$(Rev:r)

trigger:
#- main
- none

stages:
- stage: BUILD
  jobs:
  - job: BuildJob
    pool:
      vmImage: ubuntu-24.04

    variables:
    - name: BuildConfiguration
      value: release
    - name: BuildPlatform
      value: 'any cpu'
    
    steps:
    - task: UseDotNet@2
      displayName: 'Use .Net Core'
      inputs:
          version: $(NETCORE)

    - task: DotNetCoreCLI@2
      displayName: 'dotnet restore'
      inputs:
          command: restore
          projects: src/DartWing/DartWing.sln
          vstsFeed: '6848a223-49e7-4d7e-958d-59c7b27a82b8'

    - task: DotNetCoreCLI@2
      displayName: 'dotnet Publish'
      inputs:
          command: publish
          publishWebProjects: false
          projects: src/DartWing/DartWing.sln
          arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
          zipAfterPublish: false
          vstsFeed: '6848a223-49e7-4d7e-958d-59c7b27a82b8'

    - bash: |
        ls -l $(build.artifactstagingdirectory)