name: $(Date:yyyyMMdd).$(Rev:r)

trigger:
- main

resources:
  repositories:
  - repository: KubernetesRepository
    endpoint: KubernetesReposGitServiceConnection-DartWing
    type: git
    name: Kubernetes/Kubernetes-Master
    ref: refs/heads/devtest
    trigger: none

  - repository: KubernetesRepositoryProd
    endpoint: KubernetesReposGitServiceConnection-DartWing
    type: git
    name: Kubernetes/Kubernetes-Master
    ref: refs/heads/prod
    trigger: none

stages:
- stage: BUILD
  jobs:
  - job: BuildJob
    pool:
      vmImage: ubuntu-24.04

    variables:
    - name: BuildConfiguration
      value: release
    - name: BuildPlatform
      value: 'any cpu'
    
    steps:
    - task: UseDotNet@2
      displayName: 'Use .Net Core'
      inputs:
          version: $(NETCORE)

    - task: DotNetCoreCLI@2
      displayName: 'dotnet restore'
      inputs:
          command: restore
          projects: src/DartWing/DartWing.sln
          vstsFeed: '6848a223-49e7-4d7e-958d-59c7b27a82b8'

    - task: DotNetCoreCLI@2
      displayName: 'dotnet Publish'
      inputs:
          command: publish
          publishWebProjects: false
          projects: src/DartWing/DartWing.sln
          arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
          zipAfterPublish: false
          vstsFeed: '6848a223-49e7-4d7e-958d-59c7b27a82b8'

    - bash: |
        tree $(build.artifactstagingdirectory)

    - task: eliostruyf.build-task.custom-build-task.file-creator@4
      displayName: 'Create Dockerfile'
      inputs:
          fileoverwrite: true
          filepath: '$(build.artifactstagingdirectory)/Dockerfile'
          filecontent: |
            FROM $(FROM)

            ENV DOTNET_TieredPGO=1
            ENV DOTNET_TC_QuickJitForLoops=1
            ENV DOTNET_ReadyToRun=0

            WORKDIR /app
            COPY ./DartWing /app

            EXPOSE 80 443

            ENTRYPOINT ["dotnet", "DartWing.Web.dll"]

    - task: Docker@2
      displayName: 'buildAndPush image'
      inputs:
          containerRegistry: dotNetFarheap
          repository: 'dartwing-service-$(Build.SourceBranchName)'
          Dockerfile: '$(build.artifactstagingdirectory)/Dockerfile'
          buildContext: '$(build.artifactstagingdirectory)/'
          tags: |
            $(Build.BuildId)
            latest

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: DartWing-Service'
      inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)/'
          ArtifactName: 'dartwing-service'   

- stage: DEPLOY_QA
  displayName: DEPLOY QA
  dependsOn: BUILD
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  
  pool: KubePool-qa

  jobs:
  - job: Deploy
  
    steps:
    - checkout: KubernetesRepository

    - template: deploy.yml@KubernetesRepository
      parameters:
        deployAll: 'true'
        
        Project: dartwing
        ApplicationName: dartwing-service 
        ApplicationEnvironment: qa
        Namespace: dartwing-service
        
        #ingress
        Hosts: 
          - dartwing.tech-corps.com
        secretName: tech-corps-tls

        #deployment
        DeploymentID: $(Build.BuildId)
        CpuRequest: "0.05"
        CpuLimit: "0.40"
        MemoryRequest: "150Mi"
        MemoryLimit: "400Mi"
        Image: dotnetfarheapdockerregistry.azurecr.io/dartwing-service-$(Build.SourceBranchName):$(Build.BuildId)
        ImageRegistrySecret: dotnetfarheapdockerregistry
        Environments: 
          - name: ASPNETCORE_HTTP_PORTS
            value: 80