name: ${COMPOSE_PROJECT_NAME:-dartwing}
version: "3.7"
services:
    gateway:
        container_name: dartwing-gateway # Name of the container
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
            args:
                USERNAME: "${USER:-vscode}"       # Use host username, default to 'vscode'
                USER_UID: ${USER_UID:-1000}      # Use host UID, default to 1000
                USER_GID: ${USER_GID:-1000}      # Use host GID, default to 1000
                DEBUG: "${DEBUG:-false}"         # Default to 'false' if DEBUG is not set
        user: "${USER:-vscode}"                   # Run container as host user
        environment:
            - USER=${USER:-vscode}                # Make username available at runtime
            - USER_UID=${USER_UID:-1000}         # Make UID available at runtime
            - USER_GID=${USER_GID:-1000}         # Make GID available at runtime
            - DEBUG=${DEBUG:-false}              # Pass DEBUG to the container environment
        ports:
            - "0.0.0.0:5228:5228"
            - "0.0.0.0:7149:7149"
            - "0.0.0.0:1455:1455"
        networks:
            - dartnet
        volumes:
            # Workspace
            - ..:/workspaces/dartwing-gateway:cached

            # Shell configurations
            - ~/.zshrc:/home/${USER:-vscode}/.zshrc:ro
            - ~/.bashrc:/home/${USER:-vscode}/.bashrc:ro
            - ~/.oh-my-zsh:/home/${USER:-vscode}/.oh-my-zsh:ro
            - ~/.p10k.zsh:/home/${USER:-vscode}/.p10k.zsh:ro

            # Git configuration
            - ~/.gitconfig:/home/${USER:-vscode}/.gitconfig:ro
            
            # SSH configurations and keys
            - ~/.ssh/config:/home/${USER:-vscode}/.ssh/config:ro
            - ~/.ssh/id_ed25519:/home/${USER:-vscode}/.ssh/id_ed25519:ro
            - ~/.ssh/id_ed25519.pub:/home/${USER:-vscode}/.ssh/id_ed25519.pub:ro
            - ~/.ssh/id_rsa_ado:/home/${USER:-vscode}/.ssh/id_rsa_ado:ro
            - ~/.ssh/id_rsa_ado.pub:/home/${USER:-vscode}/.ssh/id_rsa_ado.pub:ro
            - ~/.ssh/known_hosts:/home/${USER:-vscode}/.ssh/known_hosts:ro

networks:
  dartnet:
    driver: bridge
